{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>

<h3>
    <a href="{% if object.parent_id %}{% url 'comments:thread' object.parent_id %}{% else %}{% url 'posts:detail' object.content_object.slug %}{% endif %}"><== Go back</a>
</h3>

<h3>{{ object.content }}</h3>
<h4>{{ object.user }} <cite title="Source Title">{{ object.timestamp|timesince }} ago {% if object.children %} | {{ object.children.count }} Comment{% if object.children.count > 1 %}s{% endif %}{% endif %}</cite></h4>
<hr/>

{% for comment in children %}
<blockquote>   
    
    <p>{{ comment.content }}</p>
    <footer>{{ comment.user }} <cite title="Source Title">{{ comment.timestamp|timesince }} ago</cite> {% if comment.children %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}{% if request.is_authenticated %} | <a href="#" class="show-replies">Reply</a>{% endif %}{% if comment.children %} | <a href="{% url 'comments:thread' comment.id %}">Thread</a>{% elif request.user == comment.user %} | <a href="{% url 'comments:delete' comment.id %}">Delete</a>{% endif %}</footer>

    <div class="comment-reply">
    {% if comment.children %}
        {% for item in comment.children %} 
        <hr/>
        <blockquote>
            <p>{{ item.content }}</p>
            <footer>{{ item.user }} <cite title="Source Title">{{ item.timestamp|timesince }} ago:</cite></footer>
        </blockquote>
        {% endfor %}
    {% endif %}
        {% if request.is_authentication %}
        <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
            </div>
            <button class="btn btn-default" type="submit">Reply</button>
        </form>
        {% endif %}
    </div>
</blockquote>

{% endfor %}
{% if request.is_authenticated %}
<div>
    <form class="form-inline" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
            <input type="hidden" name="parent_id" value="{{ object.id }}">
        </div>
        <button class="btn btn-default" type="submit">Reply</button>
    </form>
</div>
{% endif %}

</div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.show-replies').click(function(event){
            event.preventDefault();
            $(this).blur();
            $(this).parent().next().fadeToggle();
        });


    })
</script>

{% endblock extra_js %}