{% extends "base.html" %}

{% block head_extra %}
{{ form.media }}
<style>
.wmd-wrapper .wmd-panel {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
</style>
{% endblock head_extra %}

{% load crispy_forms_tags %}


{% block content %}
<div class="col-sm-6">
    <h1>Preview</h1>
    <div class="content-preview">
        <img class="img-responsive">
        <h1></h1>
        <p></p>
    </div>
</div>
<div class='col-sm-6'>
    <h1>Form</h1>

    <form method='POST' action='' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <input type='submit' class='btn btn-default' value='Create Post' />
    </form>
</div>
{% endblock content %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('#id_title').on('keyup', function() {
        $('.content-preview h1').text($(this).val());
    });
    $('#id_image').on('change', function() {
        $('.content-preview img').attr("src", $(this).val());
    });
    $('#id_content').on('keypress', function() {
        $('.content-preview p').html(marked($(this).val()));
        $('.content-preview img').each(function() {
            $(this).addClass('img-responsive');
        });
    });
});
</script>

{% endblock extra_js %}