{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if object.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ object.title }} <small>{% if object.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ object.publish }}</small></h1>
{% if object.user.get_full_name %}
<p>Author: {{ object.user.get_full_name }}</p>
{% endif %}

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ object.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p> -->
<div class='row'>
<div class='col-sm-12'>

    <div class="content-markdown">
        {{ object.get_markdown }}
    </div>

    <hr/>
    <br/>
    
    <div>
        <p class="lead">Comments:</p>
        <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <button class="btn btn-default" type="submit">Comment</button>
        </form>
        <hr/>
        {% for comment in object.comments %}
        <blockquote>
            <p>{{ comment.content }}</p>
            <footer>{{ comment.user }} <cite title="Source Title">{{ comment.timestamp|timesince }} ago</cite> | {% if comment.children %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}<a href="#" class="show-replies">Reply</a>{% if comment.children %} | <a href="{% url 'comments:thread' comment.id %}">Thread</a>{% else %} | <a href="{% url 'comments:delete' comment.id %}">Delete</a>{% endif %}</footer>
            
            <div class="comment-reply">
                {% if comment.children %}
                    {% for item in comment.children %} 
                    <hr/>
                    <blockquote>
                        <p>{{ item.content }}</p>
                        <footer>{{ item.user }} <cite title="Source Title">{{ item.timestamp|timesince }} ago:</cite></footer>
                    </blockquote>
                    {% endfor %}
                {% endif %}
                <form class="form-inline" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|crispy }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    </div>
                    <button class="btn btn-default" type="submit">Reply</button>
                </form>
            </div>
        </blockquote>
        <hr/>
        {% endfor %}
    </div>

</div>
</div>
</div>


{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $('.show-replies').click(function(event){
            event.preventDefault();
            $(this).blur();
            $(this).parent().next().fadeToggle();
        });


    })
</script>

{% endblock extra_js %}
